In [1]:
{
    "type": "ParquetExtract",
    "inputURI": "${INPUT}/lineitem",
    "outputView": "lineitem",
    "persist": false
}

l_orderkey,l_partkey,l_suppkey,l_linenumber,l_quantity,l_extendedprice,l_discount,l_tax,l_returnflag,l_linestatus,l_shipdate,l_commitdate,l_receiptdate,l_shipinstruct,l_shipmode,l_comment
176037,62993,512,3,30,58679.7,0,0.04,N,O,1998-06-06,1998-04-19,1998-06-29,DELIVER IN PERSON,RAIL,endencies integr
382948,43197,8206,3,20,22803.8,0.03,0.05,N,O,1995-12-21,1996-01-12,1996-01-05,COLLECT COD,REG AIR,daring platelets haggle even r
368263,95119,2647,2,28,31195.08,0,0.01,N,O,1997-07-10,1997-09-25,1997-08-08,NONE,MAIL,ts cajole. slyly
64453,140388,2903,5,2,2856.76,0.04,0.02,A,F,1992-04-27,1992-05-15,1992-05-16,COLLECT COD,FOB,uests cajole atop the specia
463331,82930,2931,3,35,66952.55,0.03,0.07,R,F,1992-08-19,1992-10-25,1992-08-30,NONE,MAIL,final packages.
498308,136606,4146,1,46,75559.6,0.08,0,N,O,1996-03-07,1996-02-11,1996-03-21,TAKE BACK RETURN,TRUCK,usual deposits sleep slyly never re
68960,46418,6419,1,41,55940.81,0.05,0.03,N,O,1996-05-01,1996-04-07,1996-05-30,DELIVER IN PERSON,REG AIR,final dolphins sl
281795,8376,8377,5,48,61649.76,0.04,0.08,N,O,1996-09-06,1996-10-04,1996-09-07,TAKE BACK RETURN,RAIL,according to the
220384,183423,8460,4,22,33141.24,0.07,0.02,R,F,1993-06-13,1993-07-02,1993-06-19,NONE,AIR,uffily regul
144547,36816,9320,3,2,3505.62,0.05,0.01,A,F,1992-12-09,1992-12-05,1992-12-15,TAKE BACK RETURN,MAIL,iously final packages are b

In [2]:
{
    "type": "ParquetExtract",
    "inputURI": "${INPUT}/orders",
    "outputView": "orders",
    "persist": true
}

o_orderkey,o_custkey,o_orderstatus,o_totalprice,o_orderdate,o_orderpriority,o_clerk,o_shippriority,o_comment
230855,73829,O,117952.99,1997-02-08,2-HIGH,Clerk#000000186,0,al accounts was slyly above the ideas. quietly
365346,60946,O,224423.31,1996-09-08,1-URGENT,Clerk#000000916,0,ays. quickly bold d
258948,109924,O,188405.79,1997-07-16,3-MEDIUM,Clerk#000000155,0,"ously final ideas. regular, even accounts integrate ca"
441057,36976,O,285908.69,1996-05-03,5-LOW,Clerk#000000216,0,"lly ironic instructions should use. ironic, final accounts sleep"
216608,109906,F,195014.86,1993-07-16,1-URGENT,Clerk#000000674,0,"affix carefully final, ironic requests. silent ideas wake"
297859,66032,F,119164.95,1994-11-25,5-LOW,Clerk#000000230,0,ly special accounts could haggle carefully among the furiously quiet accounts
498336,113329,F,233460.42,1994-09-25,1-URGENT,Clerk#000000041,0,quests cajole. furiously regular id
492929,141413,O,275898.81,1995-09-18,3-MEDIUM,Clerk#000000835,0,ly. slyly quick warhorses haggle quickly. blithely sp
508131,1594,O,293147.09,1998-07-11,1-URGENT,Clerk#000000633,0,hely bold foxes. slyly sly requests nag blithely. blithely exp
40999,9508,F,35186.42,1992-05-06,2-HIGH,Clerk#000000820,0,s. slyly bold deposits boost quickly according to the quickly even courts.

In [10]:
{
    "type": "SQLTransform",
    "sql": "select ${field0}, sum(case when o_orderpriority = '1-URGENT' or o_orderpriority = '2-HIGH' then 1 else 0 end) as high_line_count, sum(case when o_orderpriority <> '1-URGENT' and o_orderpriority <> '2-HIGH' then 1 else 0 end) as low_line_count from lineitem join orders on l_orderkey = o_orderkey where l_shipmode in ('MAIL', 'SHIP') and l_commitdate < l_receiptdate and l_shipdate < l_commitdate and l_receiptdate >= date '1994-01-01' and l_receiptdate < date '1995-01-01' group by l_shipmode order by l_shipmode;",
    "outputView": "out",
    "sqlParams": {
        "field0": "l_shipmode"
    }
}

l_shipmode,high_line_count,low_line_count
MAIL,6202,9324
SHIP,6200,9262

In [11]:
{
    "type": "SQLTransform",
    "sql": "select l_returnflag, l_linestatus, sum(l_quantity) as sum_qty, sum(l_extendedprice) as sum_base_price, sum(l_extendedprice * (1 - l_discount)) as sum_disc_price, sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge, avg(l_quantity) as avg_qty, avg(l_extendedprice) as avg_price, avg(l_discount) as avg_disc, count(*) as count_order from lineitem where l_shipdate <= date '1998-09-02' group by l_returnflag, l_linestatus order by l_returnflag, l_linestatus;",
    "outputView": "out"
}

l_returnflag,l_linestatus,sum_qty,sum_base_price,sum_disc_price,sum_charge,avg_qty,avg_price,avg_disc,count_order
A,F,37734107,56586554400.729996,53758257134.87,55909065222.8277,25.522005853257337,38273.12973462167,0.04998529583839774,1478493
N,F,991417,1487504710.38,1413082168.0540998,1469649223.194375,25.516471920522985,38284.4677608483,0.050093426674216304,38854
N,O,74476040,111701729697.74,106118230307.6056,110367043872.49701,25.50222676958499,38249.11798890827,0.04999658605370411,2920374
R,F,37719753,56568041380.9,53741292684.604004,55889619119.83194,25.50579361269077,38250.85462609966,0.05000940583012719,1478870

In [12]:
{
    "type": "SQLTransform",
    "sql": "select * from out",
    "outputView": "out"
}

l_returnflag,l_linestatus,sum_qty,sum_base_price,sum_disc_price,sum_charge,avg_qty,avg_price,avg_disc,count_order
A,F,37734107,56586554400.729996,53758257134.87,55909065222.8277,25.522005853257337,38273.12973462167,0.04998529583839774,1478493
N,F,991417,1487504710.38,1413082168.0540998,1469649223.194375,25.516471920522985,38284.4677608483,0.050093426674216304,38854
N,O,74476040,111701729697.74,106118230307.6056,110367043872.49701,25.50222676958499,38249.11798890827,0.04999658605370411,2920374
R,F,37719753,56568041380.9,53741292684.604004,55889619119.83194,25.50579361269077,38250.85462609966,0.05000940583012719,1478870